* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Mulish', sans-serif;
}

body {
    background: #121214;
    display: grid;
    justify-content: center;
    padding: 72px 104px;

}

header h1 {
    color: #02799D;
    font-size: 58px;
    font-weight: 900;
}
header p {
    color: #E1E1E6;
    font-size: 32px;
    font-weight: 600;
}

main {
    margin-top: 62px;
    display: grid;
    grid-template-columns: repeat(3, 366px);
    place-content: center;
    gap: 48px 60px;
}

.card {
    border-radius: 8px;
    border: 2px solid #323238;
    background: #202024;
    overflow: hidden;
}

.card h2 {
    padding: 24px 32px 0;
    color: #E1E1E6;
    font-size: 36px;
    font-weight: 900;
}
.card p {
    padding: 24px 32px 32px;
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
}
